<div class="auth-container">
  <h2>Cadastro</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Senha" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Cadastrar</button>
  </form>

  <p>
    Já tem conta?
    <a routerLink="/login">Entre aqui</a>
  </p>
</div>